
* {
	font-family: 'Source Sans Pro', sans-serif;
}
.row {
	background-color: #242943 ;
}
.cl1 {
	border: 1px solid white;
	border-bottom: none;
	padding: 2vw 0vw 2vw 30px ;
	color: #ffffff ;
}
.form-control {
	background-color: #2B304A ;
	border:none;
}
#mail-top {
	border-top: none;
}
a {
	text-decoration: none;
	color: #ffffff;
}
label {

	letter-spacing: 2px;
	color: #ffffff ;
}
.glyphicon {
	color: #242943;
	background-color: #ffffff ;
	border-radius: 90%;
	padding: 4px;
}
.content{
	margin: 0;
}
span {
	margin-right: 20px;
}
p{
	padding-left: 60px;
}
form{
	font-size: 12px;
	padding: 4vw 2vw 0vw 10vw;
}
.btn{
	margin-top: 1.5vw;
	border-radius: 0;
	letter-spacing: 2px;
	border: 2px solid #ffffff;
	font-size: 12px;
}
.btn1{
	color: #242943;
}
.btn2{
	margin-left: 1vw;
	color: #ffffff ;
	background-color: #242943;
}
.form-group{
	padding-top: 1vw;
}
